form {
  width: max-content;
  z-index: 1;
  background-color: rgba(256, 256, 256, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: 2rem;
}

/* label, input {
  padding: 1rem;
} */

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  width: 100%;
  height: 2.75rem;
  text-align: center;
  padding-inline: 0px;
  font-size: 2rem;
}
textarea {
  width: 100%;
  padding: 0px;
}

@media screen and (max-width: 700px) and (orientation: portrait) {
  /* .form-item {
    margin-bottom: 1vh;
  } */

  button {
    margin: 1rem;
  }


  label,
  input {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 950px) and (orientation: landscape) {
  .form-item {
    margin-bottom: 1rem;
  }

  input {
    padding: 2rem;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .form-item {
    margin-bottom: 0.5rem;
  }

}


/* @media screen and (max-width: 830px) and (orientation: portrait) {
  .form-item {
    margin-bottom: 1rem;
  }

  input {
    padding: 2rem;
  }
} */

h1 {
  font-size: 2rem;
}