#root {
  max-width: 100%;
  /* height: 100svh; */
  --primary: rgba(219, 112, 147, 0.6);
  --primary-hover: rgba(219, 112, 147, 0.9);
  font-size: 1rem;
}

.app {
  max-width: 100%;
  min-height: 100%;
  /* margin: 0; */
  padding: 0;
  overflow: hidden;
}

/* .components-pages-margin-top {
  margin-top: 20svh;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  margin: 0;
}

.form-container {
  height: 100%;
}
/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.blurred-and-no-pointer-events {
  pointer-events: none;
  filter: blur(5px);
}

.viewport-minus-navbar {
  min-height: 100svh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.viewport-minus-navbar-about {
  height: 100svh;
  margin-top:10svh;
}

.photos-arrows-align-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 20svh; */
  box-sizing: border-box;
  margin: 0;
}

.last-page-height-margin {
  height: 90svh;
}

@media screen and (max-width: 400px), (orientation: portrait) {
  .photos-arrows-direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1100px), (orientation: landscape) {
 :root {
  font-size:12px;
 }
}

@media screen and (orientation: landscape) {
  .last-page-height-margin {
    height: 80svh;
    margin-bottom: 10svh;
  }
}